.Carts{
    font-size: 1.8vw;
}

@media (max-width: 650px){
    main{
        width: 50vw;
    }
    .img{    
    width: 220px;
    height: 177px;
    background-position: center center;
    border: 7px solid #cca088;
    background-size: 222px;   
    }
    .present{
        overflow: hidden;
    }
    .present::after {
        right: -210px;
    }

    .Carts{
        font-size: 3vw;
    }

};

